if SHIELD_VAMPYRE60_LEFT

config ZMK_KEYBOARD_NAME
    default "vampyre60"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_VAMPYRE60_LEFT || SHIELD_VAMPYRE60_RIGHT

config ZMK_SPLIT
    default y

endif
